
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.webpage {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}

.webpage h1 {
  text-align: center;
  margin: 25px 0;
  font-weight: normal;
  font-size: 30px;
}

.webpage h2 {
  margin: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.almas {
  display: flex;
}

.alma {
  margin: 0 100px 0 0;
}

.experience {
  margin: 20px 0;
}